*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    box-shadow: 0 0 20px 0 black;
    background-color: #fff;
}
.dropdown-menu{
    background-color: orange;
}
.collapse{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
    justify-content: end;
}
#icon{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 8px;
    justify-content: end;
    padding: 20px 20px 0 0;
    letter-spacing: 20px;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%; margin-left: 11.6vw;}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 64.66%}
.col-9{width: 73%}
.col-10{width: 81.33%}
.col-11{width: 89.66%}
.col-12{width: 100%}

#p{
    font-size: 1.2vw;
}
#btnname{
    box-shadow: 0 0 2vw 0 black;
}
#iphonename{
    font-size: 2vw;
}
#box{
    width: 23vw; 
    align-items: center;
    margin-left: 50px;
    box-shadow: 0 0 2vw 0 black;
}
#buy, #detial{
    font-size: 1.2vw;
}
#footer{
    font-size: 1.2vw;
    margin-top: 0.4vw;
}

@media only screen and (max-width: 414px){
    .collapse{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 8px;
        justify-content: start;
        line-height: -1vh;
    }
    #btn{
        padding: 1px 2px 1px 2px;
    }
    #icon{
        padding: 5px 0 0 0;
        letter-spacing: 0px;
    }
    .dropdown-menu{
        line-height: 0px;
    }
    #body{
        margin-top: -30px;
    }
    #row{
        justify-content: start;
    }
    .card{
        margin-left: 0px;
        padding: 0px;
    }
    #box{
        margin-left: 22px;
        margin-right: 22px;
        width: 150px;
    }
    #about, #descript, #contactme{
        margin-top: -50px;
    }
}